@use '../colors';
@use '../general';

$choiceId: 'choiceId';
$choiceClass: 'choiceClass';
$employeeId: 'employeeId'; 
$customerId: 'customerId';

$employee-image-width: 45;
$employee-image-height: 45;

$customer-image-width: 45;
$customer-image-height: 45;

$choice-id-width: 100%;

$choice-class-width: 100%;
$choice-class-border-radius: 10px;
$choice-class-padding: 8px;
$choice-class-font-size: 30px;

$text-margin-left: 15px;

##{$choiceId} {
    width: $choice-id-width;
    display: flex;
    flex-direction: column;

    .#{$choiceClass} {
        width: $choice-class-width;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: colors.$main-accept-color;
        color: colors.$main-color-dark;
        border-radius: $choice-class-border-radius;
        padding: $choice-class-padding;
        font-size: $choice-class-font-size;
        transition: background-color general.$button-transition-time, color general.$button-transition-time;

        &:hover {
            cursor: pointer;
            background-color: colors.$main-color-dark;
            color: colors.$main-color-light;
        }

        p {
            margin-left: $text-margin-left;
        }
    }

    ##{$employeeId} {
        margin-bottom: general.$input-margin-bottom;
    }
}

:export {
    choiceId: $choiceId;
    choiceClass: $choiceClass;
    employeeId: $employeeId;
    customerId: $customerId;
    employeeImageWidth: $employee-image-width;
    employeeImageHeight: $employee-image-height;
    customerImageWidth: $customer-image-width;
    customerImageHeight: $customer-image-height;
}