@use '../colors';

$registerButtonId: 'registerButtonId'; 
$cancelButtonId: 'cancelButtonId';

##{$cancelButtonId} {
    background-color: colors.$main-color-light !important;
    color: colors.$main-color-dark !important;

    &:hover {
        background-color: colors.$main-color-dark !important;
        color: colors.$main-color-light !important;
    }
}

:export {
    registerButtonId: $registerButtonId; 
    cancelButtonId: $cancelButtonId; 
}