@use '../colors';

$registerButtonId: 'registerButtonId';
$cancelButtonId: 'cancelButtonId';
$toAuthBtnId: 'toAuthBtnId';

##{$cancelButtonId} {
    background-color: colors.$main-color-light !important;
    color: colors.$main-color-dark !important;

    &:hover {
        background-color: colors.$main-color-dark !important;
        color: colors.$main-color-light !important;
    }
}

##{$toAuthBtnId} {
    flex-grow: 1;
}

:export {
    registerButtonId: $registerButtonId; 
    cancelButtonId: $cancelButtonId;
    toAuthBtnId: $toAuthBtnId;
}