@use '../colors';
@use '../general';

$mainContentId: 'mainContentId'; 
$topPanelId: 'topPanelId';
$newRequestBtnId: 'newRequestBtnId';
$appealsAndRequestsId: 'appealsAndRequestsId'; 
$appealsId: 'appealsId'; 
$requestsId: 'requestsId';
$cancelBtnId: 'cancelBtnId';
$denyBtnId: 'denyBtnId';

$main-content-width: 100%;
$main-content-height: 100%;

$top-panel-padding: 15px;
$top-panel-width: 100%;
$top-panel-height: 10%;

$new-request-btn-padding: 10px;
$new-request-btn-font-size: 25px; 
$new-request-margin-right: 10px; 

$appeals-and-requests-width: 100%;
$appeals-and-requests-height: 90%;

$appeals-width: 40%;
$appeals-height: 100%;
$requests-width: 60%;
$requests-height: 100%;

##{$mainContentId} {
    display: flex;
    flex-direction: column;
    width: $main-content-width;
    height: $main-content-height;

    ##{$topPanelId} {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: $top-panel-width;
        height: $top-panel-height;
        background-color: colors.$main-border-color;
        padding: $top-panel-padding;
        overflow: hidden;

        ##{$newRequestBtnId} {
            width: fit-content;
            height: fit-content;
            background-color: colors.$secondary-accept-color;
            color: colors.$secondary-color-light;
            border-radius: general.$button-border-radius;
            margin-left: $new-request-margin-right;
            padding: $new-request-btn-padding;
            font-size: $new-request-btn-font-size;
            box-shadow: 0px 2px colors.$main-color-dark;
            transition: background-color general.$button-transition-time;

            &:hover {
                cursor: pointer;
                background-color: colors.$main-color-dark;
            }
        }
    }

    ##{$appealsAndRequestsId} {
        display: flex;
        flex-direction: row;
        width: $appeals-and-requests-width;
        height: $appeals-and-requests-height;

        ##{$appealsId} {
            width: $appeals-width;
            height: $appeals-height;
            border-right: solid 2px colors.$main-border-color;
        }

        ##{$requestsId} {
            width: $requests-width;
            height: $requests-height;
        }
    }

    ##{$cancelBtnId} {
        background-color: colors.$main-color-light !important;
        color: colors.$main-color-dark !important;

        &:hover {
            background-color: colors.$main-color-dark !important;
            color: colors.$main-color-light !important;
        }
    }

    ##{$denyBtnId} {
        background-color: colors.$main-error-color !important;
        color: colors.$main-color-light !important;

        &:hover {
            background-color: colors.$main-color-dark !important;
        }
    }
}

:export {
    mainContentId: $mainContentId; 
    topPanelId: $topPanelId;
    newRequestBtnId: $newRequestBtnId;
    appealsAndRequestsId: $appealsAndRequestsId;
    appealsId: $appealsId; 
    requestsId: $requestsId;
    cancelBtnId: $cancelBtnId;
    denyBtnId: $denyBtnId;
}