@use '../colors';
@use '../general';

$modalWindowId: 'modalWindowId';
$modalContentId: 'modalContentId';
$modalContentWidthFitContent: 'modalContentWidthFitContent';
$modalContentWidthDefault: 'modalContentWidthDefault';
$buttonsId: 'buttonsId';
$inputsId: 'inputsId';
$errorsId: 'errorsId';

$modal-content-padding-main: 20px;
$modal-content-padding-secondary: 10px;
$modal-content-width-default: 25%;
$modal-content-width-fit-content: fit-content;

$title-font-size: 48px;
$title-margin-bottom: 12px;

##{$modalWindowId} {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(colors.$main-color-dark-rgb, colors.$main-color-dark-rgb, colors.$main-color-dark-rgb, 0.8);
    border-style: none;
}

.#{$modalContentWidthDefault} {
    width: $modal-content-width-default;
}

.#{$modalContentWidthFitContent} {
    width: $modal-content-width-fit-content;
}

##{$modalContentId} {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: colors.$secondary-color-dark;
    border-radius: general.$main-border-radius;
    padding: $modal-content-padding-secondary $modal-content-padding-main $modal-content-padding-main $modal-content-padding-main;

    // Title
    h3 {
        text-align: center;
        color: colors.$main-color-light;
        font-size: $title-font-size;
        margin-bottom: $title-margin-bottom;
    }

    ##{$errorsId} {
        display: flex;
        flex-direction: column;

        p {
            width: general.$p-width;
            background-color: colors.$main-color-light;
            color: colors.$main-error-color;
            border-radius: general.$p-border-radius;
            padding: general.$p-padding;
            margin-bottom: general.$p-margin-bottom;
            font-size: general.$p-font-size;
        }
    }

    ##{$buttonsId} {
        display: flex;
        flex-direction: row;

        button {
            height: fit-content;
            width: fit-content;
            background-color: colors.$main-accept-color;
            color: colors.$main-color-dark;
            border-style: none;
            border-radius: general.$button-border-radius;
            padding: general.$button-padding;
            margin-right: general.$button-margin-right;
            font-size: general.$button-font-size;
            transition: background-color general.$button-transition-time, color general.$button-transition-time;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                cursor: pointer;
                background-color: colors.$main-color-dark;
                color: colors.$main-color-light;
            }
        }
    }

    ##{$inputsId} {
        input {
            width: general.$input-width;
            background-color: colors.$secondary-color-light;
            color: colors.$main-color-dark;
            border-style: none;
            border-radius: general.$input-border-radius;
            padding: general.$input-padding;
            margin-bottom: general.$input-margin-bottom;
            font-size: general.$input-font-size;
    
            &::placeholder {
                color: colors.$secondary-color-dark;
                opacity: general.$input-placeholder-opacity;
            }
    
            &:focus {
                outline: solid general.$input-focus-outline-width colors.$main-accept-color;
            }
        }
    }
}

:export {
    modalWindowId: $modalWindowId;
    modalContentId: $modalContentId;
    modalContentWidthFitContent: $modalContentWidthFitContent;
    modalContentWidthDefault: $modalContentWidthFitContent;
    buttonsId: $buttonsId;
    inputsId: $inputsId;
    errorsId: $errorsId;
}