$main-color-dark-rgb: 30;
$main-color-dark: #1e1e1e;
$secondary-color-dark: #313131;
$main-color-light: #cbcfcf;
$secondary-color-light: #fff;

$main-accept-color: #9bcbf3;
$secondary-accept-color: #255da8;
