$main-color-dark-rgb: 30;
$main-color-dark: #1a1a1a;
$secondary-color-dark: #272727;
$main-color-light: #cbcfcf;
$secondary-color-light: #fff;
$tertiary-color-light: #6f6f6f;
$main-border-color: #3b3b3b;
$main-modal-color: #333333;

$main-accept-color: #8bc7f8;
$secondary-accept-color: #1d4380; //255da8
$tertiary-accept-color: #0d2b5b;
$main-error-color: #812211;
$main-select-color: #de4045;

$filter-image: grayscale(1) brightness(15%);

$main-accept-color: rgb(113, 185, 244);