$main-border-radius: 20px;

$button-padding: 8px;
$button-font-size: 18px;
$button-transition-time: 0.2s;
$button-border-radius: 10px;
$button-margin-right: 15px;

$input-width: 100%;
$input-width-static-wide: 500px;
$input-padding: 6px;
$input-font-size: 20px;
$input-margin-bottom: 18px;
$input-border-radius: 10px;
$input-focus-outline-width: 2px;
$input-placeholder-opacity: 0.7;

$p-width: 100%;
$p-padding: 6px;
$p-margin-bottom: 18px;
$p-font-size: 20px;
$p-border-radius: 10px;

$textarea-width: 100%;
$textarea-height: 200px;